<nav>
    <ul>
        <app-navbar-link [link]="'home'" [text]="'Home'"></app-navbar-link>
        <app-navbar-link [link]="'login'" [text]="'Login'"></app-navbar-link>
        <app-navbar-link [link]="'signup'" [text]="'Signup'"></app-navbar-link> 
    </ul>
</nav>
<!--         
        <li style="position: relative; margin: 0 15px; font-size: 1.5rem; cursor: pointer; padding-bottom: 0;">
            <a href="./index.html" style="text-decoration: none; color: inherit; display: inline-block;">Home</a>
            <div style="position: absolute; bottom: -15px; left: 0; height: 0.2rem; width: 100%; background-color: #0088cc; transform: scaleX(0); transform-origin: bottom; transition: transform 0.2s ease-in-out;"></div>
        </li>
        <li style="position: relative; margin: 0 15px; font-size: 1.5rem; cursor: pointer; padding-bottom: 0;">
            <a href="login.html" style="text-decoration: none; color: inherit; display: inline-block;">Login</a>
            <div style="position: absolute; bottom: -15px; left: 0; height: 0.2rem; width: 100%; background-color: #0088cc; transform: scaleX(0); transform-origin: bottom; transition: transform 0.2s ease-in-out;"></div>
        </li>
        <li style="position: relative; margin: 0 15px; font-size: 1.5rem; cursor: pointer; padding-bottom: 0;">
            <a href="signup.html" style="text-decoration: none; color: inherit; display: inline-block;">Signup</a>
            <div style="position: absolute; bottom: -15px; left: 0; height: 0.2rem; width: 100%; background-color: #0088cc; transform: scaleX(0); transform-origin: bottom; transition: transform 0.2s ease-in-out;"></div>
        </li> -->
 