
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    /* align-items: start; */
    width: 100%;
    height: 100vh;
}




/* Start here COntent section */
.content{
    position: relative;
    width: 100%;
    background:linear-gradient(132deg,#d5d88d 0%,#88b884 100%);
}

.content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/pattern.svg);
    background-size: 30%;
    opacity: .2;
}

.content .container{
    visibility: hidden;
    opacity: 0;
    transition: all .5 ease;
}

.content .container.active{
    visibility: visible;
    opacity: 1;
}

.content .container .content-header{
    position: relative;
    background-color: var(--whiteColor);
    display: flex;
    padding:0 1rem;
    align-items: center;
    /* z-index: 1; */
    height: 7rem;
}

.content .container .content-header .image{
    /* height: 4.2rem; */
    width: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container .content-header .image img{
    border-radius: 50%;
    max-width: 100%;
}

.content .container .content-header .details{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: .5rem;
}

.content .container .content-header .details h3{
    font-size: 1.6rem;
    font-weight:500 ;
    text-transform: capitalize;
}

.content .container .content-header .details span{
    color: var(--grayColor);
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.6;
}

.content .container .content-header .icons{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.6rem;
    color: var(--grayColor);
    opacity: .6;
}

.content .container .content-header .icons i{
    cursor:pointer
}

.content .container .chat-container{
    position: relative;
    max-width: 100%;
    max-height: calc(100vh - 13rem);
    padding: 0 1.5rem 1rem 1.5rem;
    min-height: calc(100vh - 13rem);
    z-index: 0;
    /* background-color: gray; */
    padding-left: 2rem;
    display: flex;
    /* margin-top: 10px; */
    flex-direction: column;
    overflow-y: scroll;
    /* margin-right: auto; */
}
.content .container .chat-msg{
    position: relative;
    top: 1rem;
    /* margin-left: 1rem; */
    background-color: var(--whiteColor);
    border-radius: 1rem;
    width: fit-content;
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    display: flex;
    gap: 1rem;
}

.content .container .chat-msg.sent{
    position: relative;
    top: 1rem;
    /* margin-left: 1rem; */
    background-color: var(--sentMessage);
    border-radius: 1rem;
    width: fit-content;
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    opacity: 1;
}


.content .container .chat-msg:not(.sent):before{
    content: "";
    position: absolute;
    top:0;
    left: -1rem;
    border: 1rem solid transparent;
    border-top: 1rem solid var(--whiteColor);

}

.content .container .chat-msg.sent::after{
    content: "";
    position: absolute;
    bottom:0rem;
    right: -1rem;
    border: 1rem solid transparent;
    border-bottom: 1rem solid var(--sentMessage);    

}
.content .container .chat-msg p{
    margin-top: 0.2rem;
    font-size: 1.6rem;
}
.content .container .chat-msg .time{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--grayColor);
}
.content .container .message-box{
    position: absolute;
    /* background-color:red; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    bottom: 0rem;
    left: 50%;
    
    /* padding: 0; */
    /* margin-bottom: 0; */
    /* font-size: 2.5rem; */
    transform: translateX(-50%);
    align-items: center;
    gap: 2rem;
}

.content .container .message-box .message-content{

    position: relative;
    /* display: none; */
    background-color:var(--whiteColor);
    /* border-radius: 1rem 1rem 0 1rem; */
    padding: 1rem;
    max-height: 6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 100%;
}

/* .content .container .message-box .message-content::before{
    content: "";
    position: absolute;
    bottom:-0.1px;
    right: -2rem;
    border: 1rem solid transparent;
    border-left: 2rem solid var(--whiteColor);
    border-bottom: 2rem;
} */

.content .container .message-box .message-content i{
    font-size: 2.5rem;
    color: var(--grayColor);
    cursor: pointer;
    padding-right: 1rem;
}
.content .container .message-box .message-content input{
    height: 3.7rem;
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 0px solid transparent;
}
.content .container .message-box .message-content input::placeholder{
    font-weight: 500;
    color: var(--borderColor);
}
/* .content .container .message-box .micro{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */


.content .container .message-box .message-content .fa-paper-plane{
    position: absolute;
    right: 12px;
    opacity: 0;
   color:#0aa5f3c2;
   transition: opacity ease-in-out 0.1s,;
}

.content .container .message-box .message-content .fa-microphone{
    opacity: 1;    
    transition: opacity ease-in-out 0.1s;

}
/* End here COntent section */
