<main>
    <app-aside *ngIf="chatData" [chatData]="chatData" (setChatBoxEmitter)="setChatBox($event)"></app-aside>
    <section class="content">
        <div class="container active" id="chatBox">
            <div class="content-header">
                <div class="image">
                    <img [src]="dm.pfp" alt="">
                </div>
                <div class="details">
                    <h3>{{dm.name}}</h3>
                    <span>{{dm.lastSeen}} </span>
                </div>
                <div class="icons">
                    <div class="fas fa-phone-alt"></div>
                    <div class="fas fa-search"></div>
                    <div class="fas fa-ellipsis-v"></div>
                </div>
            </div>
            <div class="chat-container">
                <!-- <mat-menu #messageMenu="matMenu">
                    <button mat-menu-item (click)="editMessage('message')">Edit</button>
                    <button mat-menu-item (click)="deleteMessage('message')">Delete</button>
                  </mat-menu> -->
                <div *ngFor="let msg of dm.messages" class="chat-msg sent">
                    <!-- <i class="fa-duotone fa-solid fa-file fa-xl" style="--fa-primary-color: #347af4; --fa-primary-opacity: 1; --fa-secondary-color: #347af4; --fa-secondary-opacity: 0.7;"></i> -->
                    <p>{{msg}}</p>
                    <span class="time">5:32 PM</span>
                </div>
                
            </div>
            <div class="message-box">
                <div class="message-content">
                    <button class="file-btn"(click)="inputFile.click()">
                        <i class="fas fa-paperclip"></i>
                    </button>
                    <input multiple #inputFile (change)="sendFile($event)" type="file" style="display: none;"/>
                        <input #newMsg type="text" placeholder="Type your message here" [(ngModel)]="inputText" (keyup.enter)="newMsg.value?sendMsg(newMsg.value):null"/>
                        <i class="far fa-smile"></i>
                        <i class="fas fa-microphone" [ngStyle]="inputText.trim()?{opacity:0}:{opcaity:1}"></i>
                        <i class="fas fa-paper-plane" [ngStyle]="inputText.trim()?{opacity:1}:{opcaity:0}" (click)="sendMsg(newMsg.value)"></i>
                </div>
                <!-- <div class="micro">
                    <i class="fas fa-microphone"></i>
                </div> -->
            </div>
        </div>
    </section>
</main>
<!-- <script src="js/main.js"></script> 
<script src="js/fetchData.js"></script> -->
