<div class="pdiv">

<div class="container">
    <img src="https://telegram.org/img/t_logo.png" alt="Telegram Logo">
    <h2>Telegram</h2>
    <p>Please confirm your country code and <br>enter your phone number.</p>
    
    <form #loginform="ngForm" id="login-form" (ngSubmit)="logIn(loginform)">

        <div class="form-group">
            <label for="country">Country</label>
            <select #ccode id="country" name="country" [ngModel]="'+91'" ngModel>
                <option *ngFor="let country of LoginComponentRef.countries" [value]="country.phoneCode">{{ country.flag }} {{ country.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="phone">Your phone number</label>
            <input type="tel" id="phone" name="phone" [value]="ccode.value" required #phone="ngModel" ngModel>
            <div *ngIf="phone?.touched && phone?.invalid" class="error-message">Please enter a valid phone number with country code.</div>
        </div>

        <button type="submit"><i class="fas fa-paper-plane"></i></button>
        <div class="checkbox-container">
            <input type="checkbox" id="keep-signed-in" name="keep-signed-in" ngModel>
            <label for="keep-signed-in">Keep me signed in</label>
        </div>

    </form>
</div>
<!-- <script>
        function validatePhoneNumber() {
            const phone = $('#phone').val().trim();
            
            if (!phonePattern.test(phone)) {
                $('#phone').parent().addClass('has-error');
                $('#phone').siblings('.error-message').remove(); 
                $('#phone').after();
                return false;
            } else {
                $('#phone').parent().removeClass('has-error');
                $('#phone').siblings('.error-message').remove(); // Remove existing error messages
                return true;
            }
        }

        $('#phone').on('blur', function() {
            validatePhoneNumber();
        });

        $('#login-form').on('submit', function(e) {
            e.preventDefault();
            
            let isValid = true;
            
            if (!validatePhoneNumber()) isValid = false;
            
            if (isValid) {
                alert('Form is valid and ready to be submitted!');
                window.location.replace("./login-code.html")

                // this.submit();
            } else {
                alert('Please correct the errors in the form.');
            }
        });
</script> -->


</div>
