<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Clone</title>
    

</head>
<body>
    <app-navbar></app-navbar>
    
    <div class="container">
        <header>
            <img id="logo" src="img/Telegram_logo.svg.png" alt="" >
            <figcaption>
            <h1>Welcome to Telegram Clone</h1>
            <p>Your private messaging app</p>
          
          </figcaption>
        </header>
        <main>
            <section class="features">
                <div class="feature">
                    <a href="https://telegram.org/android">
                    <img src="img/Screenshot from 2024-07-30 14-13-51.png" alt="">
                    </a>
                    <figcaption><i class="fa-brands fa-android"></i>Telegram for <b>Android</b></figcaption>
                </div>
                <div class="feature" id="second-feature">
                    <a href="https://apps.apple.com/us/app/telegram-messenger/id686449807">
                    <img src="img/Screenshot from 2024-07-30 14-14-27.png" alt="">
                    <figcaption><i class="fa-brands fa-apple"></i> Telegram for <b>iOS</b></figcaption>
                    </a>
                </div>
            </section>
            <section class="feature">
                <div class="feature" id="cs-feature">
                    <a href="https://desktop.telegram.org/">
                    <img src="img/Screenshot from 2024-07-30 14-14-50.png" alt="">
                    <figcaption><i class="fa-brands fa-windows"></i> Telegram for <b>PC</b></figcaption>
                        </a>
                </div>
            </section>
            <div class="cta">
                <h2>Ready to Get Started?</h2>
                <a href="login.html"><button>Login to Web</button></a>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Telegram Clone. All rights reserved.</p>
        </footer>
    </div>
    
    <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>

</body>
</html>
