<aside class="right-side">
    <div class="header-container">
        <div [ngClass]="{'header':true,'focus':filesOpen}">
            <div class="toggle-button" (click)="filesOpen?filesOpen=false:settingsOpen=true">
                <i class="fas fa-bars" (click)="openProfileImageTab()"> </i>  
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input #searchBar type="text" placeholder="Search" (click)="filesOpen=true" [(ngModel)]="searchQuery" (keydown)="filterUserIds()">
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="chat-list">
            <div *ngFor="let id of userIds;" class="chat-box" [id]="id" (click)="setChatBoxEmitter.emit(id)">
                
                <div class="chat-img">
                  <img [src]="chatData[id].pimg" alt="">
                </div>
                <div class="chat-details">
                  <div class="chat-title">
                    <h3>{{ chatData[id].name }}</h3>
                    <span>{{ chatData[id].time }}</span>
                  </div>
                  <div class="chat-msg">
                    <p>{{ chatData[id].msg.at(-1) }}</p>
                    <span>{{ chatData[id].unread }}</span>
                  </div>   
                </div>
              </div>
        </div>
    </div>

    <!-- <app-files [ngClass]="{'active':filesOpen}"></app-files> -->

    <div class="pen">
        <i class="fas fa-pen"></i>
    </div>
</aside>
