<aside class="right-side">
    <div class="header-container">
        <div [ngClass]="{'header':true,'focus':filesOpen}">
            <div class="toggle-button" (click)="filesOpen?filesOpen=false:settingsOpen=true">
                <i class="fas fa-bars"> </i>  
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input #searchBar type="text" placeholder="Search" (click)="filesOpen=true">
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="chat-list">
            <div *ngFor="let chat of chatData; let i = index" class="chat-box" [id]="'chat-' + i">
                
                <div class="chat-img">
                  <img [src]="chat.pimg" alt="">
                </div>
                <div class="chat-details">
                  <div class="chat-title">
                    <h3>{{ chat.name }}</h3>
                    <span>{{ chat.time }}</span>
                  </div>
                  <div class="chat-msg">
                    <p>{{ chat.msg }}</p>
                    <span>{{ chat.unread }}</span>
                  </div>   
                </div>
              </div>
        </div>
    </div>

    <app-files [ngClass]="{'active':filesOpen}"></app-files>

    <div class="pen">
        <i class="fas fa-pen"></i>
    </div>
</aside>
